<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="backend_testing" verbose="1" thread-count="2" parallel="tests" configfailurepolicy="continue">
    <listeners>
        <listener class-name="db.framework.utils.reportUtils.TestNGExecutionListener"></listener>
    </listeners>
    <test name="Reporter" annotations="JDK" preserve-order="true">
        <classes>
            <class name="db.framework.runner.MainRunner"/>
            <class name="db.framework.utils.reportUtils.Reporter"/>
        </classes>
    </test>
</suite>