<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <!-- Author:  Dasun Hettiarachchi -->
  <Properties>
    <Property name="log-path">logs</Property>
  </Properties>
  
	<Appenders>
	<!-- comment out for Jenkins Console
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
		</Console>
 	-->
		<RollingFile name="trace-log" filename="${log-path}/sdt-trace.log"
			filepattern="${log-path}/%d{YYYYMMddHHmmss}-trace.log">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

		<RollingFile name="error-log" filename="${log-path}/sdt-error.log"
					 filepattern="${log-path}/%d{YYYYMMddHHmmss}-error.log">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="true">
			<!-- comment out for Jenkins Console
                <AppenderRef ref="console-log" level="info"/>
            -->
                <AppenderRef ref="trace-log" level="info"/>
                <AppenderRef ref="error-log" level="error"/>
            </Root>
        </Loggers>
    </Configuration>